{% extends "base/base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-4">
    <h3>Resolución RMA #{{ resolucion.numero_resolucion }}</h3>
    <p class="text-muted">Cliente: {{ solicitud.cliente }}</p>
    <p class="text-muted">Número de RMA: {{ solicitud.numero_rma }}</p>
    <hr>

    <form method="post" novalidate>
        {% csrf_token %}

        <div>
            {{ form |crispy }}
        </div>


        <div class="d-flex justify-content-end gap-2">
            <a href="{% url 'detalle_rma' solicitud.id %}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-success">Guardar Resolución</button>
        </div>
    </form>
</div>
{% endblock %}
