{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}


        <div class="text-center">
            <h1>Registrar Llave WIBU / ESD</h1>
        </div>
        <br>
            <div class="row justify-content-center">
                    <div class="row col-md-6">

                        <form method="GET" class="mb-3" style="max-width: 350px;">
                            <div class="input-group">
                                <span class="input-group-text" style="background-color:#0d6efd; border-color:#0d6efd;">
                                    <i class="bi bi-search" style="color:white;"></i>
                                </span>
                                <input type="text" name="q" class="form-control" 
                                    placeholder="Buscar N° de Serie..." value="{{ q }}">
                            </div>
                        </form>

                        
                        <form method="POST" class="card p-4 shadow-sm">
                        {% csrf_token %}
                        {{ form|crispy }}
    
                        <div>
                            <button class="btn btn-primary mt-4">Guardar</button>
                            <a href="{% url 'listar_llaves' %}" class="btn btn-secondary mt-4">Volver</a>

                        </div>


                        </form>

                    </div>


            </div>







<div class="row row-mb4">
    <div class="card card-row mb4">
        <div class="card-body">
            

        </div>
    </div>
</div>



{% endblock %}
