{% extends "base/base.html" %}
{% load static %}


{% block content %}
{% load crispy_forms_tags %}


<div class="container mt-4 mb-20 alig-item-center">
    <div class="row">

      
        <div class="col-md-8">
            <h3 class="fw-bold mb-3">
                {% if equipo %}Editar Equipo{% else %}Crear Equipo{% endif %}
            </h3>

            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}

                <button class="btn btn-success">Guardar</button>
                <a href="{% url 'listar_equipos' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>

    </div>



</div>
{% endblock %}
