{% extends "base/base.html" %}

{% block content %}
<div class="container-fluid mt-4">

    <div class="d-flex justify-content-between mb-3">
        <h3 class="fw-bold">Historial de Asignaciones</h3>
        <a href="{% url 'crear_asignacion' %}" class="btn btn-primary">Nueva Asignación</a>
    </div>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Responsable</th>
                <th>Equipo / Celular / Licencia</th>
                <th>Inicio</th>
                <th>Término</th>
                <th>Motivo</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for a in asignaciones %}
            <tr>
                <td>{{ a.persona }} {{ a.persona.last_name }}</td>
                <td>
                    {% if a.equipo %}Equipo: {{ a.equipo }}{% endif %}
                    {% if a.celular %}<br>Celular: {{ a.celular }}{% endif %}
                    {% if a.licencia %}<br>Licencia: {{ a.licencia }}{% endif %}
                </td>
                <td>{{ a.fecha_inicio }}</td>
                <td>{{ a.fecha_termino|default:"-" }}</td>
                <td>{{ a.motivo_termino|default:"-" }}</td>

                <td class="text-center">

                    <a href="{% url 'ver_asignacion' a.id %}" class="btn btn-sm btn-success">Ver</a>

                    <a href="{% url 'editar_asignacion' a.id %}" class="btn btn-sm btn-warning">Editar</a>

                    <a href="{% url 'generar_documento_entrega' a.persona.id %}" class="btn btn-sm btn-danger">PDF Entrega</a>

                    {% if not a.fecha_termino %}
                    <a href="{% url 'cerrar_asignacion' a.id %}" class="btn btn-sm btn-primary">Cerrar</a>

                    <a href="{% url 'seleccionar_devolucion' a.id %}" class="btn btn-sm btn-danger">
                        PDF Devol.
                    </a>

                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
